<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="../../public/img/logo.png" alt="medfork" style="max-width: 110%;
                position: relative;
                left: -50px;"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="http://127.0.0.1:8081/dashboard-doctor/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="about">
                        <i class="fa fa-user" aria-hidden="true"></i>About</a>
                </li>
                <li>
                    <a href="key-generation">
                        <i class="fa fa-list" aria-hidden="true"></i>Patient Registration</a>
                </li>
                <li>
                    <a href="medical-details">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Medical Details</a>
                </li>

                <li>
                    <a href="shared-data">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Shared Records</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>