    <footer class="footer-area">
      <div class="copyright_part">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
              <a href="#"><i class="ti-facebook"></i></a>
              <a href="#"> <i class="ti-twitter"></i> </a>
              <a href="#"><i class="ti-instagram"></i></a>
              <a href="#"><i class="ti-skype"></i></a>
            </div>

            <p>&copy; Copyright 2020 MedFork</p>
          </div>
        </div>
      </div>
    </footer>