<!-- Header part end-->
<title>Medfork</title>

<head>
    <!-- Required meta tags -->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="../../public/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="../../public/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="../../public/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="../../public/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="../../public/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="../../public/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="../../public/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="../../public/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <!-- <link rel="stylesheet" href="../../public/preloader/preloader.css"> -->

    <!-- <link rel="stylesheet" href="../../public/preloader/demo.css">
    <link rel="stylesheet" href="../../public/css/style1.css"> -->
    <link rel="stylesheet" href="../../public/preloader/main.css">
    <link rel="stylesheet" href="../../public/preloader/normalize.css">
    <script src="../../public/preloader/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!-- Preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="../../public/img/logo.png" alt="logo" style="
                      max-width: 230px;
                      position: relative;
                      top: 8px;
                      left: 50px;
                    " />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/full-chain">Full Chain</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Latest Transaction</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Version Holder</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn_bordered" style="padding: 15px 10px;"
                                        href="hospital-registration">Register</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!--::Main part start::-->
    <div class="main-body">

        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-xl-5">
                        <div class="banner_text">
                            <div class="banner_text_iner" style="position: relative; top: -90px;">
                                <!-- <h5>We are here for your care</h5> -->
                                <h1>Next Generation of EHR</h1>
                                <p>
                                    Storing patients record in electronic health record system
                                    using blockchain technology
                                </p>
                                <a href="login" class="btn_2">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="banner_img" style="position: relative; top: -90px;">
                            <img src="../../public/img/banner_img.png" alt="logo-img" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!-- about us part start-->
        <section class="about_us padding_top">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <div class="about_us_img">
                            <img src="../../public/img/top_service.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="about_us_text">
                            <h2>About us</h2>
                            <p>
                                Advancing in electronic health records using blockchain to
                                make records secure and version updation for better and proper
                                maintenance of system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br /><br />
        {{>footer}}
    </div>
</body>

{{>scripts}}
<script>
    $(document).ready(function () {

        setTimeout(function () {
            $('body').addClass('loaded');
            $('h1').css('color', '#222222');
        }, 500);
    });
</script>