   <!-- Header part end-->


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner" style="position: relative; top: -90px;">
                            <!-- <h5>We are here for your care</h5> -->
                            <h1>Next Generation of EHR</h1>
                            <p>
                                Storing patients record in electronic health record system
                                using blockchain technology
                            </p>
                            <a href="login" class="btn_2">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img" style="position: relative; top: -90px;">
                        <img src="../../public/img/banner_img.png" alt="logo-img" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about us part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="about_us_img">
                        <img src="../../public/img/top_service.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>About us</h2>
                        <p>
                            Advancing in electronic health records using blockchain to
                            make records secure and version updation for better and proper
                            maintenance of system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br /><br />
    <!-- about us part end-->

    <!-- footer part start-->

<!-- footer part end-->
