<!DOCTYPE html>
<html lang="en">

<head>
    <title>Key Generation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    {{!-- styles --}}
    {{>styles}}

</head>

<body>

    <!--::header part start::-->
    <div class="main-body">
        {{!-- navbar --}}
        {{>navbar}}

        <div class="container-contact100" style="padding: 70px; ">

            <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422"
                data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
            <div class="bg-video">
                <video id="myvideo" class="bg-video__content" autoplay muted loop>
                    <source src="../../public/img/video.mp4" type="video/mp4">
                    <source src="../../public/img/video.webm" type="video/webm">
                    Your browser is not supported!
                </video>
            </div>

            <div class="wrap-contact100">

                <form class="contact100-form validate-form" method="POST" action="applicant-details">
                    <span class="contact100-form-title">
                        Key Generation
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your uuid">
                        <input class="input100" type="number" name="uuid" placeholder="UUID" id="uuid">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" id="generate" type="submit">
                            Generate
                        </button>
                    </div>

                    <center>
                        <div id="key" style="display:none;">
                            <h2>Key Generated Successfully !!</h2>
                        </div>
                    </center>
                </form>

                <div class="contact100-more">
                    Contact us on: <span class="contact100-more-highlight">medfork@chennai.com</span>
                </div>
            </div>
        </div>



        <div id="dropDownSelect1"></div>

        {{!-- scripts --}}
        {{>scripts}}

</body>

</html>