<!DOCTYPE html>
<html lang="en">

<head>
    <title>Applicant Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    {{!-- styles --}}
    {{>styles}}

</head>

<body>
    <div class="main-body">
        {{>navbar}}

        <div class="container-contact100" style="padding: 70px; ">

            <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422"
                data-pin="../../public/images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
            {{!-- <div class="bg-video">
                <video id="myvideo" class="bg-video__content" autoplay muted loop>
                    <source src="../../public/img/video.mp4" type="video/mp4">
                    <source src="../../public/img/video.webm" type="video/webm">
                    Your browser is not supported!
                </video>
            </div> --}}



            <div class="wrap-contact100">

                <form class="contact100-form validate-form" method="POST" action="doctor-processing">
                    <span class="contact100-form-title">
                        Applicant Details
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your register number">
                        <input class="input100" type="text" name="doctorRegNo" placeholder="Doctor Register No">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                        <input class="input100" type="text" name="doctorName" placeholder="Doctor Name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Please enter your registration year">
                        <input class="input100" type="text" name="doctorYearReg" placeholder="Registration Year">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your state medical council">
                        <input class="input100" type="text" name="stateMedicalCouncil" placeholder="State medical council">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Please enter your gender">
                        <input class="input100" type="text" name="doctorGender" placeholder="Gender">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Please enter your phone number">
                        <input class="input100" type="text" name="doctorPnum" placeholder="Phone">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" id="submit">
                            Register
                        </button>
                    </div>
                </form>

                <div class="contact100-more">
                    Contact us on: <span class="contact100-more-highlight">medfork@chennai.com</span>
                </div>
            </div>
        </div>



        <div id="dropDownSelect1"></div>

        {{!-- scripts --}}
        {{>scripts}}

</body>

</html>